@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.2;
  font-weight: 700;
  color: #26b7b5;
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.2;
  color: #26516f;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
  color: #898784;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.icon_bg {
  background-color: #fafafa;
  border-radius: 50px;
  padding: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid #e5e5e5;
}

.button {
  background-color: #26b7b5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
  outline: 1px solid #26b7b5;
  border: 0;
}

.button:hover {
  background-color: transparent;
  color: #26b7b5;
}

a {
  text-decoration: none;
  color: #898784;
  /* color: #26b7b5; */
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  padding: 20px 20px;
}

.stack_card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.stack_card {
  background: #fff;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  transition: all 0.3s ease;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.stack_card img {
  height: 30px;
  width: 100%;
  object-fit: contain;
}

.stack_card_container:hover {
  transform: scale(1.1);
}

.card {
  background: #fafafa;
  outline: 1px solid #e3e3e3;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 20px;
  width: 300px;
}

@media (max-width: 655px) {
  .card {
    width: 260px;
  } 
  
}
